@charset "utf-8";
/* CSS Document */

body{color:#000;background:#fff url(bg.png) no-repeat 50% 0;font:12px/1.6 Verdana, Helvetica, sans-serif;text-align:center;}
*{margin:0;padding:0;}
input,select{font-size:12px;vertical-align:middle;}
textarea,input{word-wrap:break-word;word-break:break-all;padding:0px;}
li{list-style-type:none;}
img{border:0 none;}
a:link, a:visited{color:#333;text-decoration: none;outline: none;}
a:hover{color:#E13939;text-decoration: underline;}
h1{ font-size:24px;}
h2{ font-size:20px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;}
.block {width:1000px; height:auto; clear:both;margin:0 auto;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix { display: inline-table; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/***********************************************************************************************/
.head{ height:143px; }
.head .nav a{display:block; float:left;color:#FFF; padding:0px 25px; font-weight:bold;font-size:14px;line-height:90px;  }
.head .nav a:hover{ background:url(nav-hover.jpg) no-repeat left center; text-decoration:none;color:#e08c00}
.index-body{ background:url(index-body-bg.png) repeat-x; padding:30px 20px 20px 20px; width:960px; margin:0 auto;}
.index-body .left{ width:695px; overflow:hidden}
.index-body .right{ width:254px; overflow:hidden}
/* 首页最新作品 */
.index-body .zxcp{ width:238px;}
.index-body .zxcp ul li a{ line-height:28px;}
/* 首页最新资讯 */
.index-body .zxzx{ width:434px;}
.index-body .zxzx ul li a{ line-height:24px;}
/* 最新作品图片滚动 */
.index-body .zp-gd{ height:120px; padding:10px; overflow:hidden; clear:both;   }
.index-body .zp-gd ul{ overflow:hidden;}
.index-body .zp-gd ul li{ width:140px; float:left; margin:0 15px;/*IE6*/_margin:0 10px;  display:inline; }
.index-body .zp-gd ul li img{ width:140px; height:100px; padding:2px ; border:1px solid #CCC}
.index-body .zp-gd ul li p{ text-align:center}
.index-body .zp-gd ul li a:hover{ color:#F00; text-decoration:none;-webkit-transition:.25s linear .1s;transition:.25s linear .1s;-moz-transition: .25s linear .1s;}
.index-body .zp-gd ul li img:hover{ border:1px solid #E13939;-webkit-transition:.25s linear .1s;transition:.25s linear .1s;-moz-transition: .25s linear .1s;}
/* 首页书画作品 */
.index-body .shxx{ width:238px;}
.index-body #txtMarqueeTop{ padding:12px;}
.index-body #txtMarqueeTop ul li{ line-height:33px;}
.index-body #txtMarqueeTop ul li span{ float:right; color:#999}
/* 首页精彩作品 */
.index-body .jczp{ width:434px; overflow:hidden}
.index-body .jczp ul{ width:450px; padding:10px 0}
.index-body .jczp ul li{ float:left; margin-right:5px;}
.index-body .jczp ul li img{ width:135px; height:170px; padding:2px; border:1px solid #CCC}
/* 首页右侧 */
.index-body .right div.neirong{ text-indent:25px; line-height:25px;}
/* 首页底部 */
.foot{ background:url(ft-bg.png) repeat-x; padding:20px 0 30px 0; margin-top:40px; line-height:30px;}
.foot p{ text-align:center; color:#6B6B6B}
.foot p a{ color:#6B6B6B}
.foot span{color:#6B6B6B; text-align:center; display:block}
.foot span a{padding:0 30px;color:#6B6B6B;}
.foot span a:hover{ color:#000}
/* 友情链接 */
.friendLink table{ margin:10px 0}
/* 列表页 */
.sidebar{ width:254px;}
.sidebar .neirong{ padding:0 15px;}
.sidebar .jiantou li a{ line-height:28px;}
.sidebar .dian li a{ line-height:28px; margin-left:25px;}
.list-right{ width:688px; overflow:hidden}
/* 图片列表页 */
.list-right ul.pic-list{ width:700px; padding:10px 0}
.list-right ul.pic-list li{ float:left; padding:5px 15px; margin-top:5px;}
.list-right ul.pic-list li:hover{ background:#f4f4f4}
.list-right ul.pic-list li img{ width:140px; height:110px; padding:1px; border:1px solid #CCC}
.list-right ul.pic-list li img:hover{ border:1px solid #E13939;-webkit-transition:.25s linear .1s;transition:.25s linear .1s;-moz-transition: .25s linear .1s;}
.list-right ul.pic-list li span,.list-right ul li p{ display:block; text-align:center; line-height:25px;}
/* 文字列表页 */
.list-right ul.jiantou li{ border-bottom:#CCC 1px dashed; line-height:40px;}
.list-right ul.jiantou li span{ float:right; color:#999;}
/* 单页面 */
.list-right .content{ font-size:13px; overflow:hidden; line-height:30px; text-indent:25px; }
/* 默认内容页 */
.list-right .title{ text-align:center; font-size:18px; font-weight:bold; margin-top:40px;font-family:"微软雅黑", "黑体", Arial}
.list-right .date{ line-height:30px; border-bottom:#CCC 1px dashed; margin:10px 0; text-align:center}
.list-right .date span{ padding:0 20px;}
/* 图片列表页弹出层 */
#fancybox-loading { position: fixed; top: 50%; left: 50%; width: 40px; height: 40px; margin-top: -20px; margin-left: -20px; cursor: pointer; overflow: hidden; z-index: 1104; display: none; }
#fancybox-loading div { position: absolute; top: 0; left: 0; width: 40px; height: 480px; background-image: url('fancybox.png'); }
#fancybox-overlay { position: absolute; top: 0; left: 0; width: 100%; z-index: 1100; display: none; }
#fancybox-tmp { padding: 0; margin: 0; border: 0; overflow: auto; display: none; }
#fancybox-wrap { position: absolute; top: 0; left: 0; padding: 20px; z-index: 1101; outline: none; display: none; }
#fancybox-outer { position: relative; width: 100%; height: 100%; background: #fff; }
#fancybox-content { width: 0; height: 0; padding: 0; outline: none; position: relative; overflow: hidden; z-index: 1102; border: 0px solid #fff; }
#fancybox-hide-sel-frame { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent; z-index: 1101; }
#fancybox-close { position: absolute; top: -15px; right: -15px; width: 30px; height: 30px; background: transparent url('fancybox.png') -40px 0px; cursor: pointer; z-index: 1103; display: none; }
#fancybox-error { color: #444; font: normal 12px/20px Arial; padding: 14px; margin: 0; }
#fancybox-img { width: 100%; height: 100%; padding: 0; margin: 0; border: none; outline: none; line-height: 0; vertical-align: top; }
#fancybox-frame { width: 100%; height: 100%; border: none; display: block; }
#fancybox-left, #fancybox-right { position: absolute; bottom: 0px; height: 100%; width: 35%; cursor: pointer; outline: none; background: transparent url('blank.gif'); z-index: 1102; display: none; }
#fancybox-left { left: 0px; }
#fancybox-right { right: 0px; }
#fancybox-left-ico, #fancybox-right-ico { position: absolute; top: 50%; left: -9999px; width: 30px; height: 30px; margin-top: -15px; cursor: pointer; z-index: 1102; display: block; }
#fancybox-left-ico { background-image: url('fancybox.png'); background-position: -40px -30px; }
#fancybox-right-ico { background-image: url('fancybox.png'); background-position: -40px -60px; }
#fancybox-left:hover, #fancybox-right:hover { visibility: visible; /* IE6 */ }
#fancybox-left:hover span { left: 20px; }
#fancybox-right:hover span { left: auto; right: 20px; }
.fancybox-bg { position: absolute; padding: 0; margin: 0; border: 0; width: 20px; height: 20px; z-index: 1001; }
#fancybox-bg-n { top: -20px; left: 0; width: 100%; background-image: url('fancybox-x.png'); }
#fancybox-bg-ne { top: -20px; right: -20px; background-image: url('fancybox.png'); background-position: -40px -162px; }
#fancybox-bg-e { top: 0; right: -20px; height: 100%; background-image: url('fancybox-y.png'); background-position: -20px 0px; }
#fancybox-bg-se { bottom: -20px; right: -20px; background-image: url('fancybox.png'); background-position: -40px -182px; }
#fancybox-bg-s { bottom: -20px; left: 0; width: 100%; background-image: url('fancybox-x.png'); background-position: 0px -20px; }
#fancybox-bg-sw { bottom: -20px; left: -20px; background-image: url('fancybox.png'); background-position: -40px -142px; }
#fancybox-bg-w { top: 0; left: -20px; height: 100%; background-image: url('fancybox-y.png'); }
#fancybox-bg-nw { top: -20px; left: -20px; background-image: url('fancybox.png'); background-position: -40px -122px; }
#fancybox-title { font-family: Helvetica; font-size: 12px; z-index: 1102; }
.fancybox-title-inside { padding-bottom: 10px; text-align: center; color: #333; background: #fff; position: relative; }
.fancybox-title-outside { padding-top: 10px; color: #fff; }
.fancybox-title-over { position: absolute; bottom: 0; left: 0; color: #FFF; text-align: left; }
#fancybox-title-over { padding: 10px; background-image: url('fancy_title_over.png'); display: block; }
.fancybox-title-float { position: absolute; left: 0; bottom: -20px; height: 32px; }
#fancybox-title-float-wrap { border: none; border-collapse: collapse; width: auto; }
#fancybox-title-float-wrap td { border: none; white-space: nowrap; }
#fancybox-title-float-left { padding: 0 0 0 15px; background: url('fancybox.png') -40px -90px no-repeat; }
#fancybox-title-float-main { color: #FFF; line-height: 29px; font-weight: bold; padding: 0 0 3px 0; background: url('fancybox-x.png') 0px -40px; }
#fancybox-title-float-right { padding: 0 0 0 15px; background: url('fancybox.png') -55px -90px no-repeat; }
/* IE6 */

.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png', sizingMethod='scale');
}
.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png', sizingMethod='scale');
}
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png', sizingMethod='scale');
}
.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png', sizingMethod='scale');
zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png', sizingMethod='scale');
}
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png', sizingMethod='scale');
}
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png', sizingMethod='scale');
}
.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {  height: expression(this.parentNode.clientHeight + "px");
}
#fancybox-loading.fancybox-ie6 { position: absolute; margin-top: 0;  top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}
#fancybox-loading.fancybox-ie6 div { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png', sizingMethod='scale');
}
/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }
.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png', sizingMethod='scale');
}

/* 留言板 */
.lyb a.red{ color:#F00;}
.lyb span.wd105{ width:105px;}
.lyb span{ display:block; float:left; text-align:right; padding:5px 0 5px 5px;}
.lyb span img{ float:right; margin-left:10px;}
.lyb span input{ border:#DDD 1px solid;-moz-border-radius:4px; -webkit-border-radius:4px; 	border-radius:4px; padding:4px 2px 4px 2px;}
.lyb span input#tj{ background:url(tj.jpg) repeat-x; height:24px; padding:0 10px; margin:0 10px; cursor:pointer}
.lyb textarea#lytext{border:#DDD 1px solid;-moz-border-radius:4px; -webkit-border-radius:4px; 	border-radius:4px;}
.lyb div{ display:block; clear:both;}
.lyb div.tip{ margin-left:50px; margin-top:20px;}
.lyb dl{ width:620px; margin:0 auto; margin-top:20px; border:#F3E6C6 1px solid; background:#FFFCF5; padding:10px;-moz-border-radius:4px; -webkit-border-radius:4px; 	border-radius:4px;}
.lyb dl dt{ border-bottom:#F9F0DB 1px solid; padding-bottom:5px;}
.lyb dl dt span{ float:right; color:#999}
.lyb dl dd{ line-height:25px; padding:10px 0; text-indent:20px;}
.lyb dl dd.hf{ margin:10px 0; padding:10px 10px 10px 20px; background:url(regb.gif) no-repeat 15px 10px #F9F0DB;}










