/* 注册登录页面 样式 */
body {
	font: 12px/1.5 tahoma,arial,宋体;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, form, input, p, img, h6 {
    margin: 0;
    padding: 0;
}

html .clearfix {
    display: block;
}

.clearfix {
    display: inline-block;
}

a {
	color: #666;
}

.sign-body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-transform: uppercase;
    background-attachment: fixed;
    background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
    background-color: #fff;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	text-align: center;
}

.sign-top-buttons {
    text-align: right;
    padding: 1em 3em;
}
.sign-top-buttons a {
    background: rgba(255, 255, 255, 0.15);
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 9px 26px;
    border: 1px solid #756d6d;
    margin: 15px 15px 0px 0px;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -ms-transition: 0.3s all;
    transition: 0.3s all;
    border: 1px solid #fff;
	border-radius: 4px;
}
.sign-top-buttons a.sign-active {
    border-color: #df5799;
    background: #df5799;
}
.sign-top-buttons a:hover {
	color: #fff;
	text-decoration: none;
    border-color: #df5799;
    background: #df5799;
}

.middle-part {
    transition: all 0.5s ease-in-out 0s;
    z-index: 1000;
	padding-bottom: 100px;
	width: 960px;
	margin: 0 auto;
	height: 1050px;
	text-align: center;
}

.reg-box {
    background: rgba(41, 39, 39, 0.50);
    height: 334px;
    right: 0;
    width: 880px;
    z-index: 1002;
	border-radius: 7px;
}
.reg-box-left {
	width: 785px;
	padding-bottom: 100px;
	border-radius: 2px;
	background-color: white;
	margin: 40px auto;
}
.reg-box-right {
	width: 220px;
	float: right;
	background-color: white;
	position: relative;
	padding-bottom: 100px;
	top: 20px;
	right: 10px;
	box-shadow: 0 0 6px 0 #f1f1f1;
	font: 15px/53px 'Microsoft Yahei';
	color: #666;
}
.reg-box h2 {
    border-bottom: 1px solid #d0d0d0;
    color: #f0f0f0;
    font-size: 22px;
    margin: 0 20px 10px;
    padding: 30px 0 12px;
    text-align: center;
}
.reg-title {
	font: 18px/53px 'Microsoft Yahei';
	color: #f3316b;
}
.reg-title-tip {
	color: #ff687b;
	font-size: 12px;
	height: 37px;
	line-height: 37px;
	background-color: #f7f7f7;
	text-align: center;
	margin: 0px 30px 0;
}
.reg-title-left {
	top: 8px;
	left: -9px;
	width: 84px;
	height: 42px;
	background: url(../images/img2.png) no-repeat;
	position: absolute;
}
.reg-title-right {
	top: 8px;
	right: -9px;
	width: 84px;
	height: 42px;
	background: url(../images/img2.png) no-repeat -84px 0;
	position: absolute;
}
.reg-form {
	padding-top: 5px;
	color: #666;
	font: 12px/1.5 tahoma,arial,宋体;
}
.reg-form .col-form {
    padding-top: 20px;
    line-height: 32px;
}

.col-form {
    height: 28px;
	line-height: 30px;
    margin: 0 15px 14px;
}
.col-form label {
    font-weight: normal;
    width: 105px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    text-align: right;
}

.za-radio {
    float: left;
}

#SexRadio input {
    display: inline-block;
    margin-right: 3px;
    margin-top: -2px;
    position: relative;
    vertical-align: middle;
}
#sex_radio .label_m {
	margin-right: 20px;
	background: url(../images/sex.jpg) no-repeat 5px 7px;
}
#sex_radio .label_w {
	background: url(../images/sex.jpg) no-repeat 5px -25px;
}
#sex_radio label {
    background: rgba(0, 0, 0, 0) no-repeat scroll 0 0;
    float: none;
    font-weight: normal;
    width: 40px;
}
.za-item-selector {
    height: 31px;
    width: 287px;
    float: left;
    height: 36px;
    line-height: 36px;
}
.za-item-selector dl {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    height: 31px;
    line-height: 29px;
    margin-right: 11px;
    width: 79px;
    float: left;
    z-index: 10;
}
.za-item-selector dt {
    background: #F8F8F8 none repeat scroll 0 0;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    height: 29px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 77px;
	overflow: hidden;
}
#BirthdaySelector.za-item-selector dt .cData {
    text-indent: -15px;
}
.za-item-selector dt .cData {
    display: block;
    float: none;
    font-weight: normal;
    text-align: center;
    width: 100%;
}
em {
    font-style: normal;
}
.za-item-selector dt .iName {
    font-weight: normal;
    position: absolute;
    right: 8px;
    top: 0;
}

.marry-radio input {
    display: inline-block;
    margin-right: 3px;
    margin-top: -1px;
    position: relative;
    vertical-align: middle;
}
input, a, textarea {
    outline: 0 none;
}
.marry-radio label {
    float: none;
    font-weight: normal;
    width: 32px;
}

.reg-btn {
    background-color: #ff6060;
    height: 41px;
    width: 260px;
    border: 0 none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-family: "Microsoft Yahei";
    font-size: 20px;
    transition: background-color 0.3s ease 0s;
	margin-left: -141px;
}
.reg-btn:hover {
	background-color: #eb5858;
}

.za-item-selector .year-selector dd {
    left: -50px;
    width: 450px;
	top: 29px;
}
.za-item-selector dd {
    background: #F8F8F8 none repeat scroll 0 0;
    box-shadow: none;
    border: 1px solid #c9c9c9;
    padding: 5px;
    position: absolute;
	width: 415px;
    z-index: 1;
}

.za-item-selector-hover dt {
    border-color: #c9c9c9 #c9c9c9 currentcolor;
    border-radius: 4px 4px 0 0;
    z-index: 2;
	border-bottom: 0 none;
}

.month-selector .za-item-selector-hover dt {
	border-color: #c9c9c9 #c9c9c9 currentcolor;
    border-radius: 4px 4px 0 0;
    z-index: 2;
	border-bottom: 0 none;
}

.za-item-selector-hover dd {
    border-color: #c9c9c9;
    z-index: 1;
}
.za-item-selector dd p {
    line-height: 26px;
    padding-left: 7px;
    text-align: justify;
}
.za-item-selector dd p i {
    padding: 0 5px 0 4px;
    font-style: normal;
}
.za-item-selector .year-selector a {
    width: 35px;
    display: inline-block;
}
.za-item-selector dd a {
    border: 0 none;
    border-radius: 2px;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
	font: 12px/1.5 tahoma,arial,宋体;
}
.za-item-selector dd a:hover {
    background-color: rgba(190, 235, 235, 0.50);
}

.za-item-selector .month-selector dd {
    height: 74px;
    left: -116px;
    width: 303px;
	top: 29px;
}

.za-item-selector .day-selector dd {
    height: 88px;
    left: -205px;
    width: 303px;
    overflow-wrap: break-word;
    word-break: break-all;
	top: 29px;
}

.za-item-selector .day-selector a {
    display: inline-block;
    width: 22px;
}

.za-item-selector .month-selector a {
    display: inline-block;
    width: 20px;
}

.za-item-selector .border {
    border-bottom: 1px dashed #ccc;
    clear: both;
    height: 1px;
    overflow: hidden;
}

.za-item-selector .province-selector span {
    display: inline-block;
    text-align: left;
    width: 46px;
}
.za-item-selector span {
    display: inline-block;
    float: left;
    height: 36px;
    padding: 0 5px;
}
.za-item-selector .label {
    display: none;
    overflow: hidden;
    width: 14px;
}
.za-item-selector .province-selector dd {
    left: -50px;
	top: 29px;
}

.za-item-selector .city-selector dd {
    left: -116px;
    width: 303px;
    min-height: 220px;
	top: 29px;
}

.za-item-selector .county-selector dd {
    left: -205px;
    width: 303px;
    min-height: 220px;
	top: 29px;
}

.za-item-selector .height-selector dd {
    width: 248px;
    min-height: 220px;
	top: -174px;
	z-index: 13;
}

.za-item-selector .education-selector dd {
    width: 248px;
    min-height: 127px;
	z-index: 13;
}

.za-item-selector .salary-selector dd {
    width: 248px;
    min-height: 108px;
	z-index: 13;
}

.height-selector dd ul {
	height: 375px;
	overflow: auto;
	width: 253px;
	list-style: none;
}
.height-selector dd ul li {
	overflow: hidden;
	line-height: 25px;
	text-align: left;
}
.height-list li a {
	width: 95%;
	padding: 0 2%;
	text-align: left;
	float: left;
}

.education-selector dd ul {
	overflow: auto;
	width: 253px;
	list-style: none;
}
.education-selector dd ul li {
	overflow: hidden;
	line-height: 25px;
	text-align: left;
}
.education-list li a {
	width: 95%;
	padding: 0 2%;
	text-align: left;
	float: left;
}

.salary-selector dd ul {
	overflow: auto;
	width: 253px;
	list-style: none;
}
.salary-selector dd ul li {
	overflow: hidden;
	line-height: 25px;
	text-align: left;
}
.salary-list li a {
	width: 95%;
	padding: 0 2%;
	text-align: left;
	float: left;
}

.sign-header {
	background-color: #fff;
	border-bottom: 1px solid #703987;
	margin-bottom: 13px;
	box-shadow: 0 1px 0 #fff;
	color: #818181;
}
.sign-frameW {
	width: 1190px;
	margin: 0 auto;
}
.sign-body .sign-frameW {
	width: 960px;
	margin: 0 auto;
}
.sign-header .sign-frameW {
	position: relative;
	height: 97px;
	zoom: 1;
}
.sign-header .sign-logo {
	width: 100px;
	float: left;
	height: 100%;
	background: url('../images/icon.png');
	background-size: cover;
}
.sign-header .ad-word {
	float: left;
	width: 296px;
	height: 100%;
	font-family: STXingkai;
	font-size: 25px;
	text-align: left;
}
.sign-header .ad-word p {
	padding-top: 36px;
}
.sign-header .ad-word .ad-word-short {
	line-height: 5px;
	font-size: 20px;
	text-align: left;
}

.sign-tools {
	float: right;
	width: 415px;
	height: 100%;
	background: url(http://images.zastatic.com/zhenai3/zhenai2015/img/reg/top-bg.png) top center no-repeat;
}
.sign-header .sign-tools a {
	float: right;
	width: 90px;
	height: 36px;
	line-height: 36px;
	margin-top: 30px;
	background-color: #FD7A78;
	border-radius: 1px;
	color: #fff;
	transition: background-color .3s;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
	margin-left: 8px;
	border-radius: 4px;
}
.sign-header .sign-tools .active{
	background-color: #FD5F5E;
}
.sign-header .sign-tools a:hover{
	background-color: #FD5F5E;
}
.height-selector dt {
	width: 258px;
}
.height-selector dt .cData {
	text-align: left;
	text-indent: 15px;
}

.education-selector dt {
	width: 258px;
}
.education-selector dt .cData {
	text-align: left;
	text-indent: 15px;
}

.salary-selector dt {
	width: 258px;
}
.salary-selector dt .cData {
	text-align: left;
	text-indent: 15px;
}


.form-line {
    width: 91%;
    height: 20px;
    margin: 0 auto;
    border-bottom: 1px dashed #ddd;
}

.za-item-selector input {
	background: #F8F8F8 none repeat scroll 0 0;
	border: 1px solid #c9c9c9;
	border-radius: 4px;
	cursor: pointer;
	height: 29px;
	padding-left: 15px;
	position: relative;
	width: 243px;
	overflow: hidden;
	float: left;
	color: #666;
	font: 12px/1.5 tahoma,arial,ËÎÌå;
}
.za-item-selector textarea {
	background: #F8F8F8 none repeat scroll 0 0;
	border: 1px solid #c9c9c9;
	border-radius: 4px;
	cursor: pointer;
	height: 120px;
	padding-left: 15px;
	position: relative;
	width: 243px;
	overflow: hidden;
	float: left;
	color: #666;
	font: 12px/1.5 tahoma,arial,ËÎÌå;
	resize: none;
}
.footer {
	width: 100%;
	height: 90px;
	color: #666;
}
.check_tip {
	float: left;
	color: #ff687b;
	line-height: 26px;
}
.tip_br {
	margin-left: 105px;
}